.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-item {
    width: 100%;
    max-width: 800px;
    padding: 4rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}