@using library_management_system.Model
@using Microsoft.AspNetCore.Identity
@using library_management_system.Components.Account
@using library_management_system.Components.Pages
@using library_management_system.Services

@inject DbApi dbApi
@inject AlertService alertService
@inject UserManager<User> userManager
@inject IUserStore<User> userStore
@inject SignInManager<User> signInManager
@inject IEmailSender<User> emailSender
@inject ILogger<Readers> logger
@inject NavigationManager navigationManager
@inject IdentityRedirectManager redirectManager
@inject RoleManager<IdentityRole> roleManager


<Modal @ref="_modal" title="Add user" IsVerticallyCentered="true" Size="ModalSize.ExtraLarge" OnHiding="OnHideModal">
    <BodyTemplate>
        <Toasts class="p-3" Messages="alertService.Messages" Placement="ToastsPlacement.TopRight"/>

        <div class="user-modal">
            <div class="col-md-4">
                <EditForm Model="Input" method="post" OnValidSubmit="RegisterUser"
                          FormName="add-user">
                    <DataAnnotationsValidator/>
                    <ValidationSummary class="text-danger" role="alert"/>

                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Name" class="form-control"
                                   aria-required="true"/>
                        <label>Name</label>
                        <ValidationMessage For="() => Input.Name" class="text-danger"/>
                    </div>

                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Surname" class="form-control"
                                   aria-required="true"/>
                        <label>Surname</label>
                        <ValidationMessage For="() => Input.Surname" class="text-danger"/>
                    </div>

                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Address" class="form-control"
                                   aria-required="true"/>
                        <label>Address</label>
                        <ValidationMessage For="() => Input.Address" class="text-danger"/>
                    </div>

                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.PhoneNumber" class="form-control"
                                   aria-required="true"/>
                        <label>Phone Number</label>
                        <ValidationMessage For="() => Input.PhoneNumber" class="text-danger"/>
                    </div>

                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username"
                                   aria-required="true" placeholder="name@example.com"/>
                        <label>Email</label>
                        <ValidationMessage For="() => Input.Email" class="text-danger"/>
                    </div>

                    <div class="form-floating mb-3">
                        <InputText type="password" @bind-Value="Input.Password" class="form-control"
                                   autocomplete="new-password" aria-required="true" placeholder="password"/>
                        <label>Password</label>
                        <ValidationMessage For="() => Input.Password" class="text-danger"/>
                    </div>

                    <div class="form-floating mb-3">
                        <InputText type="password" @bind-Value="Input.ConfirmPassword" class="form-control"
                                   autocomplete="new-password" aria-required="true" placeholder="password"/>
                        <label>Confirm Password</label>
                        <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger"/>
                    </div>

                    <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </EditForm>
            </div>

            <div class="common-page-styles">
                <div class="avatar-select">
                    @foreach (var avatar in Avatars!)
                    {
                        var isSelected = Input.Avatar == avatar;

                        <div class="avatar @(isSelected ? "selected" : "")">
                            <Button @onclick="() => Input.Avatar = avatar">
                                <img style="width: 100%; height: 100%" src="data:image/jpg;base64, @Convert.ToBase64String(avatar.Image!)" alt="Image"/>
                            </Button>
                        </div>
                    }
                </div>
            </div>
        </div>

    </BodyTemplate>
</Modal>


@code {
    [Parameter] public required ERole Role { get; set; }
    [Parameter] public required EventCallback OnAdd { get; set; }

    private Modal _modal = default!;

    private AddUserInputModel Input { get; set; } = new();

    private List<Avatar>? Avatars { get; set; }

    protected override Task OnInitializedAsync()
    {
        Avatars = dbApi.GetAvatars();

        if (Avatars == null)
        {
            Avatars = [];
            alertService.ShowWarning("Database is empty. Please add avatars.");
        }

        Input.Avatar = Avatars.First();

        return base.OnInitializedAsync();
    }

    public void Show()
    {
        _modal.ShowAsync();
    }

    private void OnHideModal()
    {
        _modal.HideAsync();
        alertService.ClearMessages();
    }

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();

        await userStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
        var result = await userManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            return;
        }

        var role = await roleManager.FindByNameAsync(Role.ToString().ToLower());
        if (role is null)
        {
            role = new IdentityRole(Role.ToString().ToLower());
            await roleManager.CreateAsync(role);
        }

        if (role.Name != null) await userManager.AddToRoleAsync(user, role.Name);

        logger.LogInformation("User created a new account with password.");

        alertService.ShowSuccess("User created a new account with password.");

        Input = new AddUserInputModel();

        await OnAdd.InvokeAsync();
    }

    private User CreateUser()
    {
        try
        {
            return new User
            {
                Avatar = Input.Avatar,
                Name = Input.Name,
                Surname = Input.Surname,
                Address = Input.Address,
                TelephoneNr = Input.PhoneNumber,
                Role = Role,
                BorrowedBooksCount = 0,
                ReservedBooksCount = 0
            };
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(User)}'. " +
                                                $"Ensure that '{nameof(User)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<User> GetEmailStore()
    {
        if (!userManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }

        return (IUserEmailStore<User>)userStore;
    }

}