.title-with-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 1rem;
}

.scrollable {
    overflow-y: auto;
    max-height: 15rem;
}

.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

.rating-and-amount {
    display: flex;
    gap: 10px;
}