.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: #3a0647;
    color: #fff;
}

.edit {
    background-color: #3a0647;
    color: #fff;
}