@using library_management_system.Services
@inherits LayoutComponentBase
@inject AuthService AuthService

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if(AuthService.IsLoggedIn())
            {
                var user = AuthService.User;
                <a>Logged as @(user!.Name) @(user!.Surname)</a>
                <a href="account" class="ml-md-auto">Account</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>