.borrow-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.borrow-page .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    gap: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

.borrow-page .last-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.borrow-page .last-row .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}