@page "/"

<PageTitle>Home</PageTitle>

<div class="home-page">
    <div class="welcome-container">
        <h1>Welcome to our Library Management System</h1>
        <p>This is a simple library management system built with Blazor.</p>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Visit our GitHub page: </span>
            <a href="https://github.com/gregusio/library-management-system" target="_blank">
                <Icon Name="IconName.Github"></Icon>
            </a>
        </div>
    </footer>
</div>
