.readers {
    
}

.button-and-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
}

.users {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.users .single-user {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    gap: 10px;
    max-width: 200px
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
